<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <navbar-content></navbar-content>
    </header>

    <main>
      <div class="container py-5">
        <dashboard-header></dashboard-header>
        <dashboard-body></dashboard-body>
      </div>
    </main>

    <footer>
      <footer-content></footer-content>
    </footer>
  </body>
</html>
